@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@600&display=swap');

.App{
    background-color: "#f3d0d2";
    font-family: 'Montserrat' , serif;
    }

 .cardflex{
     display: flex;
     flex-direction: row;
 }
    @media only screen and (max-width: 700px) {
        .cardflex{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .mcsmargin{
            padding-top: 500px;
        }
      }

.bggg{
    background: rgb(251,135,118);
background: -moz-linear-gradient(90deg, rgba(251,135,118,1) 0%, rgba(246,131,107,1) 31%, rgba(247,156,138,1) 60%, rgba(243,208,210,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(251,135,118,1) 0%, rgba(246,131,107,1) 31%, rgba(247,156,138,1) 60%, rgba(243,208,210,1) 100%);
background: linear-gradient(90deg, rgba(251,135,118,1) 0%, rgba(246,131,107,1) 31%, rgba(247,156,138,1) 60%, rgba(243,208,210,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fb8776",endColorstr="#f3d0d2",GradientType=1);}


a {
    color: maroon !important;
}


a:hover{
    text-decoration: none !important;
}
  
  
  